<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 当前应用名称（是注册中心识别的名称） -->
	<dubbo:application name="dubboxdemo-web"/>
	<!-- 注册中心地址(zookeeper) -->
	<dubbo:registry address="zookeeper://192.168.179.129:2181"/>
	<!-- 配置包扫描（同样不需要SpringMVC的包扫描） -->
	<dubbo:annotation package="com.ling.controller"/>

	<!-- SpringMVC的基本控制器 -->
	<mvc:annotation-driven/>

	<!-- 配置springmvc的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
</beans>